/*

    black: #2d2d2d;
    white: #ffffff;
    gray: #fbfbfb;
    yellow: #f7d536;
    blue: #00abfd;

*/
*{
    font: 300 16px/1 Roboto, sans-serif;

    outline:0;
    border:0;
    box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
}

body{
    background: #E4E4E4;
}

.container{
    margin-top: 75px;
}


.content{
    padding: 35px 35px;
    background: #fff;
}

.panel_item{
    display: inline-block;
    max-width: 295px;
    vertical-align: top;
    margin: 5px 0;
}


.panel_input_100{
    width: 100px;
}

.navbar{
    border-radius: 4px; 
}

.reg-block{
    padding: 10px;
}

.form_box{
    max-width: 350px; 
    margin:auto; 
    text-align: center;
}

/**
 Loader
 */
.cssload-container {
    width: 35px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    height: 35px;
    text-align: center;
}

.cssload-double-torus {
    width: 31px;
    height: 31px;
    margin: 0 auto;
    border: 2px double;
    border-radius: 50%;
    border-color: transparent rgba(255,82,82,0.9) rgba(252,0,0,0.9);
    animation: cssload-spin 690ms infinite linear;
    -o-animation: cssload-spin 690ms infinite linear;
    -ms-animation: cssload-spin 690ms infinite linear;
    -webkit-animation: cssload-spin 690ms infinite linear;
    -moz-animation: cssload-spin 690ms infinite linear;
}



@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.onload{
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
}

.offload{
    display: none;
}

.loader {
    top: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}





